.form-style {
  margin-top: 30px;
}

.back-button {
  margin-top: 10px;
}
.user-button-actions {
  float: right;
  margin-left: auto;
}

.title-card-new {
  margin-left: 100px;
  margin-top: 30px;
  color: rgb(74, 77, 77);
  text-align: left;
  font-size: 35px;
}
