.container-listing {
  margin: 20px;
}
.container-listing p {
  font-size: 15px;
  color: rgb(110, 111, 111);
}
.container-listing {
  font-size: 15px;
  color: rgb(110, 111, 111);
}

.container-listing h2 {
  color: rgb(110, 111, 111);
}
.description {
  margin-top: 20px;
}
