<div class="form-style">
  <%= simple_form_for booking do |f| %> 
  <%= f.input :pick_up %> 
  <%= f.input :drop_off %> 
  <div class="user-button mt-5">
    <%= f.submit class:'btn btn-primary btn-block'%> 
  </div>
  <% end %>
</div>