<%= render 'shared/banner_booked' %>

<div class="d-flex">
  <div class= "mt-5 mb-5 card-product-booked">
    <%= render 'bikes/card_booked' %>
  </div>
  <img src="https://media.giphy.com/media/12UlfHpF05ielO/giphy.gif" class="rounded mx-auto booking-img mt-5 mb-5">
</div>
