<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548345680-f5475ea5df84?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);">
  <div class="container">
    <h1><strong>Congratulations!</strong> Your <strong>booking is confirmed!</strong></h1>
    <p>See bellow your booking information.</p>
  </div>
</div>