<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1447871852826-1c11ef907903?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);">
  <div class="container">
    <h1>Post your bike at <strong>Bikes Airbnb!</strong></h1>
    <p>Create more life experiences by allowing people from anywhere to use your bike to run the world!</p>
  </div>
</div>