        <div class="banner" style="background-image:url(https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1502&q=80); background-size:cover; padding-top:200px; padding-bottom:200px; background-position:70% 65%;">
					<form class="container  rounded" style=" margin-left: 5px; max-width: 520px; padding: 30px 30px 60px 30px; font-family: Helvetica; font-weight: 600; color: #484848;">
						<h1 style="font-size: 4em; font-weight: bold; margin-bottom: 15px;">Book the bike that you need.</h1>
						<div class="form-group" style=" font-size: small;">
							<label>WHERE</label><br>
							<input class="form-control" type="text" placeholder="Where would you like to ride?" name="destination" />
						</div>
						<div class="input-group-prepend" style=" font-size: small;">
							<label>PICK UP</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
							<label>DROP OFF</label><br>
						</div>
						<div class="input-group" style=" font-size: small;">
							<input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkin" />
							<input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkout" />
						</div>
						<br><br>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Find your bike</button>
						</div>
					</form>
					<div style="margin-left: 133px;">
							<%= link_to 'Post a Bike', new_bike_path(@bike), class:"btn btn-primary" %>

							<%= link_to 'See all Bikes', bikes_path, class:"btn btn-primary" %>
						</div>
        </div>
			<!-- REVIEWS AND FEEDBACKS -->
		