        <%= render 'shared/home_navbar' %>
        <div class="banner" style="background-image:url(https://images.unsplash.com/photo-1474552226712-ac0f0961a954?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1502&q=80); background-size:cover; padding-top:399px; padding-bottom:100px;">
			<form class="container mt-3 rounded" style="max-width: 420px; padding: 30px 30px 60px 30px; font-family: Helvetica; font-weight: 600; color: #484848;">
				<h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;">Book the bike what you need.</h1>
				<div class="form-group" style=" font-size: small;">
					<label>WHERE</label><br>
					<input class="form-control" type="text" placeholder="Where would you like to ride?" name="destination" />
				</div>
				<div class="input-group-prepend" style=" font-size: small;">
					<label>PICK UP</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
					<label>DROP OFF</label><br>
				</div>
				<div class="input-group" style=" font-size: small;">
					<input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkin" />
					<input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkout" />
				</div>
				<br>
	
				<br>
                <div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg" style="float: right;">Find your bike</button>
				</div>
				</div>
			</form>
            </div>
			<!-- REVIEWS AND FEEDBACKS -->

			<div style="padding: 2px 100px; font-size: 14px; font-family: Helvetica;">
				<h3>What guests are saying about bikes around the world</h3>

			<p style="display:inline">Bikes in Europe were rated
				<strong>4.6 out of 5 stars</strong>
				with <strong> 210,000+ reviews </strong>
			</p>
		</div>
        <br>

		
        <!-- REVIEWS AND FEEDBACKS USES BOOTSRAP GRID PROPERTY  -->

		<div class="container" style="padding: 5px;">
			<div class="row">
				<div class="col-md-4">
					<img class="rounded" src="https://images.unsplash.com/photo-1464518983192-0de439b5d517?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="100%" height="100%">
				</div>
				<div class="col-md-4">
					<img class="rounded" src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="100%" height="100%">
				</div>
				<div class="col-md-4">
					<img class="rounded" src="https://www.ispo.com/sites/default/files/styles/content_width_desktop/public/2018-09/07_dh8_1_2017_spanien.webp?itok=J7EMBuL5" width="100%" height="100%">
				</div>
			</div>
		</div>

		<!-- REVIEWS AND FEEDBACK STARS -->

		<div class="container" style="padding: 5px;">
			<div class="row">
				<div class="col-md-4">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
				</div>
				<div class="col-md-4">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
				</div>
				<div class="col-md-4">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
				</div>
			</div>
		</div>

		<div class="container" style="padding: 3px; font-size: 14px; font-family: Helvetica;">
			<div class="row">
				<div class="col-md-4">
					<p>Carlos rents bicycles so you can ride around the city of Barcelona enjoying a summer day on the shore of the Mediterranean Sea...</p>
				</div>
				<div class="col-md-4">
					<p>I scheduled a trip to Amsterdam and I just wanted to tour the city with a fixie and Andrea has some incredible fixies for rent!...</p>
				</div>
				<div class="col-md-4">
					<p>On my trip to Spain I had a dream of visiting the La Fenosa bike park, Victor has many downhill bikes to rent, without a doubt they are the best for this track....</p>
				</div>
			</div>
		</div>

        <!-- REVIEWS AND FEEDBACKS OF PARTICULAR USER-->
		
		<div class="container" style="margin-bottom: 10px;">
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-2">
							<img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" height="48" width="48" style="border-radius: 50%;">
						</div>
						<div class="col-md-10">
							<p style="font-weight: bold; font-family: Helvetica; margin: 0;">Erick</p>
							<p>Spain</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-2">
							<img src="https://images.unsplash.com/photo-1522228115018-d838bcce5c3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" height="48" width="48" style="border-radius: 50%;">
						</div>
						<div class="col-md-10">
							<p style="font-weight: bold; font-family: Helvetica; margin: 0;">Stephanie</p>
							<p>Germany</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-2">
							<img src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.6435-9/35264714_1801142033280201_4114814458977583104_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=rNZls2Pbx2gAX_n1pfp&_nc_ht=scontent-mia3-2.xx&oh=626f2013b267fe6fa8244a5e75c97d71&oe=60E07E82" height="48" width="48" style="border-radius: 50%;">
						</div>
						<div class="col-md-10">
							<p style="font-weight: bold; font-family: Helvetica; margin: 0;">Rachel</p>
							<p>United States</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin-bottom: 50px; color: #484848;">
			<div class="row">
				<div class="col-md-10">
					<h3 style="margin-top: 50px;">When are you travelling?</h3>
					<p>Add dates for updated pricing and availability.</p>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-outline-primary rounded nohover" style="margin: 50px; padding: 10px; padding-left: 20px; padding-right: 20px; border: 2px solid;"><strong>Add your date!</strong></button>
				</div>
			</div>
		</div>
		<hr>
		<div class="container" style="margin-top: 70px;">
			<div class="row">
				<div class="col-md-3">
					<section>
						<h6 style="margin-left: 40px;">Bike Rent</h6>
						<ul style="list-style: none;">
							<li><a href="#">Help</a></li>
							<li><a href="#">Policies</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</section>
				</div>
				<div class="col-md-3">
					<section>
						<h6 style="margin-left: 40px;">Renting</h6>
						<ul style="list-style: none;">
							<li><a href="#">Why Rent</a></li>
							<li><a href="#">Responsible Renting</a></li>
						</ul>
					</section>
				</div>
				<div class="col-md-3">
					<section>
						<h5 style="margin-left: 40px;">
						<a href="#" style="color: #636e72;"><i class="fa fa-facebook" style="padding-right: 15px;"></i></a>
						<a href="#" style="color: #636e72;"><i class="fa fa-twitter" style="padding-right: 15px;"></i></a>
						<a href="#" style="color: #636e72;"><i class="fa fa-instagram" style="padding-right: 15px;"></i></a>
						</h5>
					</section>
				</div>
			</div>
		</div>
	</body>
</html>