<div class="container mb-5">
  <div>
    <h1>My bikes</h1>
  </div>
  
  <div class="cards">
    <% @my_bikes.each do |bike| %>
      <div class="card-product">
        <div class="card-img col-4">
          <%= cl_image_tag bike.photo.key %>
        </div>
        <div class="card-img col-4">
          <h5><%= bike.description %></h5>
        </div>
        <div class="col-4">
          <% if bike.bookings.count == 0 %>
            <h5>This bike hasn´t been booked yet</h5>
          <% else %>
            <h5>Booked by <%= bike.bookings %> </h5>
            <h5>Pick up date <%= bike.bookings.pick_up %> </h5>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>