<%= render 'shared/banner_new' %>
<div class= "d-flex justify-content-center align-items-center">
  <div class="mt-5 mb-5 p-5 bg-white rounded d-flex shadow rounded">
  <%= render 'bikes/new', bike: @bike %>
  </div>
</div>

<style>
  .img-form{
    border-radius: 10px;
  }
</style>