<%= render 'shared/banner_new' %>
<div class= "d-flex justify-content-center align-items-center">
  <div class="mt-5 mb-5 p-5 bg-white rounded d-flex">
  <img class="pr-3 img-form" src="https://images.unsplash.com/photo-1508002366005-75a695ee2d17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=317&q=80">
  <%= render 'bikes/new', bike: @bike %>
  </div>
</div>

<style>
  .img-form{
    border-radius: 10px;
  }
</style>