.card-container {
  box-shadow: 2px 4px 5px #e8f1f5;
  border-radius: 4px;
}

.card-image {
  height: 175px;
  background-size: cover !important;
  position: relative;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-position: center;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-email {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 13px;
}
.card-description {
  position: absolute;
  top: 10px;
  left: 10px;
  padding-bottom: 10px;
}
.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 13px;
}

.card-price {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
}

#city {
  color: #ec605f;
}

.card-price h2 {
  font-size: 20px;
  margin-top: 10px;
}

.card-container:hover {
  opacity: 0.5;
}

.card-style {
  height: 300px;
  margin: 10px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  h3 {
    color: azure;
    align-content: center;
    padding-left: 20px;
  }
}

.title-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    color: azure;
  }
}

.card-container {
  font-family: "Lato";
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 25px 10px 0 10px;
}

.card {
  display: inline-block;
  max-width: 570px;
  background-color: white;
  text-align: center;
  padding-bottom: 30px;
  box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}

.card__image,
.card__image img {
  max-width: 100%;
  width: 100%;
}

.card__textContent {
  display: inline-block;
  background-color: white;
  margin: -30px auto 0 auto;
  width: 80%;
  padding: 20px 10px;
}

.card__title {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.card__title-main {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.card__title-sub {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  font-style: italic;
  text-transform: capitalize;
}

.card__content {
  color: rgba(0, 0, 0, 0.8);
  text-align: justify;
  margin-bottom: 25px;
  line-height: 1.6rem;
}

@media screen and (min-width: 1170px) {
  .card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .card {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1680px) {
  .card-container {
    display: block;
    padding-bottom: 1px;
  }

  .card {
    max-width: 1024px;
    text-align: left;
    padding: 0;
    display: flex;
    margin: 0 auto 25px auto;
  }

  .card__image {
    max-width: 66%;
    text-align: left;
    /* This should be changed by JS
      background-image: url("/images/mountain-3.jpeg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card__image img {
    display: none;
  }

  .card__textContent {
    display: inline-block;
    width: 65%;
    margin: 12px 0 0 -30px;
    padding: 25px;
  }

  .card__title {
    text-align: left;
  }
}
