#city {
  color: #ec605f;
}

.content {
  display: flex;
  flex-direction: row;
}

#cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-position {
  align-items: center;
}

.card-bike {
  width: 600px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-bottom: 20px;
}

.card-bike > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}
.user-button {
  display: flex;
  flex-direction: row;
}

.user-button-actions {
  float: right;
  margin-left: auto;
}
.add-button {
  float: right;
  margin-bottom: 20px;
  margin-right: 204px;
}
