#city {
  color: #ec605f;
}

.content {
  display: flex;
  flex-direction: row;
}

#cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-bike {
  width: 350px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-bike > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
